---
article_class: member
---
<%
  content_for(:title, member.name)
%>
<% content_for(:head) do %>
  <meta property="og:title" content="<%= member.name %>" />
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="<%= hostname + current_page.url %>" />
  <meta property="og:image" content="<%= hostname + photo_path(member.photo) %>" />
  <meta property="og:description" content="<%= member.name %> <%= teams_for_player(member).select(&:slug).include?('the-sirens-2015') ? 'is a member of the 2015 Northern Beaches Roller Girls Sirens' : 'was a member of the Northern Beaches Roller Girls Sirens' %>." />
<% end %>

<h1><%= member.name %><% if member.number %> <em>#<%= member.number %></em><% end %></h1>
<% if member.photo %>
  <%= photograph member.photo %>
<% end %>

<% teams_for_player(member.slug).each do |team| %>
  <p><%= member.nickname || member.name %> <%= team.year == 2015 ? 'is' : 'was' %> a
  member of <a href="/teams/<%= team.slug %>/<%= lineup_id %>">the <%= lineup_id %> lineup
  of <%= team.name %></a>.</p>
<% end %>

<% if member.bio %>
<%= markdown member.bio %>
<% end %>
