---
article_class: member
---
<%
  content_for(:title, member.name)
  teams = teams_for_player(member)
%>
<% content_for(:head) do %>
  <meta property="og:title" content="<%= member.name %>" />
  <meta property="og:type" content="profile" />
  <meta property="og:url" content="<%= hostname + current_page.url %>" />
  <meta property="og:image" content="<%= member.photo ? photo_path(member.photo) : "#{hostname}/images/leagues/nbrg.png" %>" />
  <meta property="og:description" content="<%= member.name %> <%= teams.length > 0 ? 'is a member of the Northern Beaches Roller Girls Sirens' : 'is retired from the Northern Beaches Roller Girls Sirens' %>." />
<% end %>

<h1><%= member.name %><% if member.number %> <em>#<%= member.number %></em><% end %></h1>
<% if member.photo %>
  <%= photograph member.photo %>
<% end %>

<% if teams.length > 0 %>
  <% teams.each do |team| %>
    <p><%= member.nickname || member.name %> is a
      member of <a href="/teams/<%= team.slug %>"> <%= team.name %></a>.</p>
  <% end %>
<% else %>
  <p><%= member.nickname || member.name %> is retired from the Northern Beaches Roller Girls.</p>
<% end %>

<% if member.bio %>
<%= markdown member.bio %>
<% end %>
