<% wrap_layout :outside do %>
  <article>
    <% if current_article %>
      <h1><span><%= current_article.title %></span></h1>
    <% end %>
    <%= yield %>
  </article>
  <aside class="sidebar">
    <%= yield_content(:sidebar) %>
    <%= partial 'sections/upcoming' %>
    <%= partial 'sections/social' %>
    <%= partial 'sections/sponsors' %>
  </aside>
<% end %>
