<% wrap_layout :outside do %>
  <article>
    <% if current_article %>
      <h1><%= current_article.title %></h1>
    <% end %>
    <%= yield %>
  </article>
  <aside class="sidebar">
    <%= yield_content(:sidebar) %>
    <section class="upcoming" data-hide-none=".bouts li">
      <h2><span>Up next</span></h2>
      <ul class="bouts">
        <% upcoming_bouts.each do |bout| %>
          <li data-hide-if="datePast"><%= partial 'bouts/sidebar', locals: { bout: bout } %></li>
        <% end %>
      </ul>
    </section>
    <section class="sponsors">
      <h2><span>Sponsors</span></h2>
      <ul>
        <% data.sponsors.select(&:sidebar).each do |sponsor| %>
          <li>
            <a href="<%= sponsor.url %>">
              <img src="/images/sponsors/<%= sponsor.logo %>" />
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  </aside>
<% end %>
