<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= page_title ? page_title + ' | Northern Beaches Roller Girls' : 'Northern Beaches Roller Girls' %></title>

    <%= stylesheet_link_tag "normalize", "all" %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZQZ-1K2lJAveN6hO0AmZMltyW9okKhj4" type="text/javascript"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=252371018122650";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <% landing = current_page.url == '/' %>
    <header class="<%= landing ? 'landing' : '' %>">
      <h1><a href="/"><span>Northern Beaches</span> <span>Roller Girls</span></a></h1>
      <nav>
        <%
          pages = [
            ['Home', '/'],
            ['Bouts', '/bouts/'],
            ['The Sirens', '/teams/sirens/2015/'],
            ['Media', '/media/'],
            ['Join Us', '/join/'],
          ]
        %>
        <ul>
          <% pages.each do |title,url| %>
            <li class="<%= current_page.url == url ? 'current' : '' %>"><%= link_to title, url %></li>
          <% end %>
        </ul>
      </nav>
      <% if landing %>
        <div>
          <%= partial 'sections/join' %>
          <%= partial 'sections/upcoming' %>
          <%= partial 'sections/social' %>
        </div>
      <% end %>
    </header>
    <div id="columns">
      <%= yield %>
    </div>
    <footer>
      <p>Site by <a href="http://www.jagregory.com">James Gregory</a>. <a href="mailto:james@jagregory.com">Get in touch</a>.</p>
    </footer>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
