<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link rel="icon" href="/images/favicon.png">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= page_title ? page_title + ' | Northern Beaches Roller Girls' : 'Northern Beaches Roller Girls' %></title>

    <%= stylesheet_link_tag "normalize", "all" %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZQZ-1K2lJAveN6hO0AmZMltyW9okKhj4" type="text/javascript"></script>
  </head>

  <body>
    <% landing = current_page.url == '/' %>
    <header class="<%= landing ? 'landing' : '' %>">
      <h1><a href="/"><span>Northern Beaches</span> <span>Roller Girls</span></a></h1>
      <nav>
        <ul>
          <% data.menu.each do |page| %>
            <li class="<%= (page.items || []).any? ? 'nested' : '' %> <%= current_page.url == page.url || (page.items || []).any? {|p| p.url == current_page.url } ? 'current' : '' %>">
              <%= link_to page.text, page.url || 'javascript:void(0)' %>
              <% if page.items %>
                <ul>
                  <% page.items.each do |page| %>
                    <li class="<%= current_page.url == page.url ? 'current' : '' %>"><%= link_to page.text, page.url %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
      <% if landing %>
        <div>
          <%= partial 'sections/join' %>
          <%= partial 'sections/upcoming' %>
          <%= partial 'sections/social' %>
        </div>
      <% end %>
    </header>
    <div id="columns">
      <%= yield %>
    </div>
    <footer>
      <p>Site by <a href="http://www.jagregory.com">James Gregory</a>. <a href="mailto:james@jagregory.com">Get in touch</a>.</p>
    </footer>
    <%= javascript_include_tag  "all" %>
    <%= google_analytics_universal_tag %>
  </body>
</html>
