<a href="/members/<%= member.slug %>">
  <% if member.photo %>
    <div class="photo-circle">
      <img src="<%= member.photo.photo.url %>?w=50" alt="" />
    </div>
  <% end %>
  <h2>
    <% if role %><em class="role"><%= role %></em><% end %>
    <%= member.name %>
    <span class="number"><%= member.number %></span>
  </h2>
</a>
