<a href="/members/<%= member.slug %>">
  <div class="photo-circle">
    <img src="<%= member.photo ? "#{member.photo.photo.url}?w=50" : "/images/leagues/nbrg.png" %>" alt="" width="50" />
  </div>
  <h2>
    <% if role %><em class="role"><%= role %></em><% end %>
    <%= member.name %>
    <span class="number"><%= member.number %></span>
  </h2>
</a>
