<a href="/players/<%= player.slug %>">
  <% if player.photo %>
    <div class="photo-circle">
      <img src="/images/players/<%= player.photo %>" alt="" />
    </div>
  <% end %>
  <h2>
    <% if role %><em class="role"><%= role %></em><% end %>
    <%= player.name %>
    <span class="number"><%= player.number %></span>
  </h2>
</a>
