<% content_for(:title, "#{team.name} (#{year})") %>
<% captains = [lineup.captain].flatten.map { |id| data.players[id] }.sort_by(&:name) %>
<% players = lineup.players.map {|id| data.players[id] }.sort_by(&:name) %>
<h1><%= team.name %> (<%= year %>)</h1>
<ul class="lineup">
  <% captains.each do |player| %>
    <%= partial 'teams/player', locals: { player: player, captain: true } %>
  <% end %>
  <% (players - captains).each do |player| %>
    <%= partial 'teams/player', locals: { player: player, captain: false } %>
  <% end %>
</ul>

<p><strong>Bench Manager:</strong> <a href="/staff/<%= lineup.bench %>"><%= data.staff[lineup.bench].name %></a></p>
<p><strong>Lineup Manager:</strong> <a href="/staff/<%= lineup.lineup %>"><%= data.staff[lineup.lineup].name %></a>
