<% captains = [lineup.captain].flatten.map { |id| data.players[id] } %>
<h1><%= team.name %> (<%= year %>)</h1>
<ul>
  <% lineup.players.each do |slug| %>
    <% player = data.players[slug] %>
    <li>
      <a href="/players/<%= player.slug %>"><%= player.name %></a>
      <% if captains.include? player %>
        (Captain)
      <% end %>
    </li>
  <% end %>
</ul>

<p><strong>Bench Manager:</strong> <a href="/staff/<%= lineup.bench %>"><%= data.staff[lineup.bench].name %></a></p>
<p><strong>Lineup Manager:</strong> <a href="/staff/<%= lineup.lineup %>"><%= data.staff[lineup.lineup].name %></a>
