<%
  content_for(:title, "#{team.name} (#{year})")
  captains = [lineup.captain].flatten.map { |id| data.members[id] }.sort_by(&:name)
  players = lineup.players.map {|id| data.members[id] }.sort_by(&:name)
  prior_lineups = (data.teams[team.slug].lineups.keys - [year])
%>

<h1><%= team.name %></h1>

<% if prior_lineups.length > 0 %>
  <ul class="years">
    <% data.teams[team.slug].lineups.keys.each do |prior| %>
      <li class="<%= prior == year ? 'current' : '' %>"><a href="/teams/<%= team.slug %>/<%= prior %>"><%= prior %></a></li>
    <% end %>
  </ul>
<% end %>

<ul class="lineup">
  <% captains.each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: 'Captain' } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <% (players - captains).each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: nil } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <li><%= partial 'teams/member', locals: { member: data.members[lineup.bench], role: 'Bench Manager' } %></li>
  <li><%= partial 'teams/member', locals: { member: data.members[lineup.lineup], role: 'Lineup Manager' } %></li>
</ul>
