<%
  content_for(:title, team.name)
  captains = (team.captains || []).sort_by(&:name)
  players = (team.players || []).sort_by(&:name)
  benchManagers = (team.benchManagers || []).sort_by(&:name)
  lineupManagers = (team.lineupManagers || []).sort_by(&:name)
%>

<h1><%= team.name %></h1>

<ul class="lineup">
  <% captains.each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: 'Captain' } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <% (players - captains).each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: nil } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <% benchManagers.each do |benchie| %>
    <li><%= partial 'teams/member', locals: { member: benchie, role: 'Bench Manager' } %></li>
  <% end %>
  <% lineupManagers.each do |lineup| %>
    <li><%= partial 'teams/member', locals: { member: lineup, role: 'Lineup Manager' } %></li>
  <% end %>
</ul>
