<%
  content_for(:title, "#{team.name} (#{team.year})")
  captains = team.captains.sort_by(&:name)
  players = team.players.sort_by(&:name)
  prior_lineups = data.website.team.values
    .select { |other| other.league == team.league && other.name == team.name }
%>

<h1><%= team.name %></h1>

<% if prior_lineups.length > 0 %>
  <ul class="years">
    <% prior_lineups.each do |prior| %>
      <li class="<%= prior.year == team.year ? 'current' : '' %>"><a href="/teams/<%= prior.slug %>"><%= prior.year %></a></li>
    <% end %>
  </ul>
<% end %>

<ul class="lineup">
  <% captains.each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: 'Captain' } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <% (players - captains).each do |player| %>
    <li><%= partial 'teams/member', locals: { member: player, role: nil } %></li>
  <% end %>
</ul>
<ul class="lineup">
  <% team.benchManagers.each do |benchie| %>
    <li><%= partial 'teams/member', locals: { member: benchie, role: 'Bench Manager' } %></li>
  <% end %>
  <% team.lineupManagers.each do |lineup| %>
    <li><%= partial 'teams/member', locals: { member: lineup, role: 'Bench Manager' } %></li>
  <% end %>
</ul>
