<h1>Tournaments</h1>
<% tournaments.reverse.each do |tournament| %>
  <section class="tournament">
    <h2><a href="/tournaments/<%= tournament.slug %>"><%= tournament.name %></a></h2>
    <p>
      From <%= date_tag tournament.date.from %> to <%= date_tag tournament.date.to %>.
    </p>
    <h3>Bouts</h3>
    <ul class="bouts">
      <% bouts_for_tournament(tournament).each do |bout| %>
        <li><%= partial 'bouts/short', locals: { bout: bout } %></li>
      <% end %>
    </ul>
  </section>
<% end %>
