<% against = data.website.league[bout.against.id] %>
<section class="bout-scoreboard">
  <div class="team <%= bout.won ? bout.won ? 'winner' : 'loser' : '' %>">
    <h2><span>Northern Beaches Roller Girls</span></h2>
    <img src="/images/leagues/nbrg.png" width="128" />
    <% if bout.scoreUs %>
      <p><%= bout.scoreUs %></p>
    <% end %>
  </div>

  <div class="team <%= !bout.won ? 'winner' : 'loser' %>">
    <h2><a href="<%= against.website %>"><span><%= against.name %></span></a></h2>
    <img src="/images/leagues/<%= against.nickname.downcase %>.png" width="128" />
    <% if bout.scoreThem %>
      <p><%= bout.scoreThem %></p>
    <% end %>
  </div>
</section>
