<a href="/bouts/<%= bout.slug %>">
  <%= bout.nickname || "#{data.leagues[bout.against].nickname} vs. NBRG" %>
</a>
<% if bout.score %>
  <% if bout.won == 'us' %>
    <span class="badge won">Won</span>
  <% end %>
<% end %>
<p class="meta">
  <%= date_tag bout.datetime %><% if bout.tournament %> &mdash; <a href="/tournaments/<%= data.tournaments[bout.tournament].slug %>"><%= data.tournaments[bout.tournament].name %></a><% end %>
</p>
<% if bout.score %>
  <p class="scores"><strong>Scores:</strong> <%= data.leagues[bout.against].nickname %> <%= bout.score.them %>, NBRG <%= bout.score.us %></p>
<% end %>
