---
article_class: bout
---
<%
  against = data.leagues[bout.against]
  page_title = bout.nickname || "NBRG vs. #{against.nickname}"
  content_for(:title, page_title)
%>
<% content_for(:head) do %>
  <meta property="og:title" content="<%= page_title %>" />
  <meta property="og:type" content="nbrg_com_au:bout" />
  <meta property="og:url" content="<%= hostname + current_page.url %>" />
  <meta property="og:image" content="<%= hostname %>/images/logo.png" />
  <meta property="og:description" content="Northern Beaches Roller Girls vs. <%= against.name %>" />
  <meta property="og:teams" content="Northern Beaches Roller Girls" />
  <meta property="og:teams" content="<%= against.name %>" />
  <meta property="og:teams_abbr" content="NBRG" />
  <meta property="og:teams_abbr" content="<%= against.nickname %>" />
  <meta property="og:when" content="<%= bout.datetime.strftime('%FT%T') %>" />
  <% if bout.venue %>
  <meta property="og:venue:latitude" content="<%= data.venues[bout.venue].lat %>" />
  <meta property="og:venue:longitude" content="<%= data.venues[bout.venue].lon %>" />
  <% end %>
<% end %>

<h1><%= page_title %></h1>
<%= datetime_tag(bout.datetime) %>

<% if bout.facebook_event %>
<section class="event">
  <p>Find out more about the whole day on <a href="<%= bout.facebook_event %>">the Facebook event</a>.</p>
</section>
<% end %>

<%= partial 'bouts/scoreboard', locals: { bout: bout } %>

<% if bout.venue %>
  <% venue = data.venues[bout.venue] %>
  <%= partial 'bouts/venue', locals: { venue: venue } %>
<% end %>
