<% against = data.leagues[bout.against] %>
<div class="bout">
  <h1><%= bout.nickname %></h1>
  
  <section class="meta">
    <p><%= date_tag(bout.datetime) %></p>
    <% if bout.tournament %>
      <p><a href="/tournaments/<%= data.tournaments[bout.tournament].slug %>">
        <%= data.tournaments[bout.tournament].name %></a>
      </p>
    <% end %>
  </section>

  <section class="scoreboard">
    <img src="/images/leagues/nbrg.png" /> NBRG
    <div class="when">
      <%= time_tag(bout.datetime) %>
    </div>

    <%= against.nickname %> <img src="/images/leagues/<%= against.nickname.downcase %>.png" />
  </section>
</div>
