---
article_class: bout
---
<% against = data.leagues[bout.against] %>
<h1><%= bout.nickname %></h1>
<%= datetime_tag(bout.datetime) %>

<section class="scoreboard">
  <div class="team <%= bout.won ? bout.won == 'us' ? 'winner' : 'loser' : '' %>">
    <h2><span>Northern Beaches Roller Girls</span></h2>
    <img src="/images/leagues/nbrg.png" width="128" />
    <% if bout.score %>
      <p><%= bout.score.us %></p>
    <% end %>
  </div>

  <div class="team <%= bout.won ? bout.won == 'them' ? 'winner' : 'loser' : '' %>">
    <h2><a href="<%= against.website %>"><span><%= against.name %></span></a></h2>
    <img src="/images/leagues/<%= against.nickname.downcase %>.png" width="128" />
    <% if bout.score %>
      <p><%= bout.score.them %></p>
    <% end %>
  </div>
</section>

<% if bout.venue %>
  <% venue = data.venues[bout.venue] %>
  <section class="venue" data-map data-lat="<%= venue.lat %>" data-lon="<%= venue.lon %>">
    <h2><span><%= venue.name %></span></h2>
    <p><%= venue.address %></p>
  </section>
<% end %>
