---
article_class: bout
---
<% against = data.leagues[bout.against] %>
<h1><%= bout.nickname || "NBRG vs. #{against.nickname}"  %></h1>
<%= datetime_tag(bout.datetime) %>

<% if bout.facebook_event %>
<section class="event">
  <p>Find out more about the whole day on <a href="<%= bout.facebook_event %>">the Facebook event</a>.</p>
</section>
<% end %>

<%= partial 'bouts/scoreboard', locals: { bout: bout } %>

<% if bout.venue %>
  <% venue = data.venues[bout.venue] %>
  <%= partial 'bouts/venue', locals: { venue: venue } %>
<% end %>
