<div class="photo">
  <img src="<%= photo_path image %>" alt="" title="Photograph by <%= photographer.name %>">
  <p>Photograph by <a href="<%= photographer.link %>"><%= photographer.name %></a>
    <% if photo.originalAlbumLink %>
      &middot; <a href="<%= photo.originalAlbumLink %>">Album</a>
    <% end %>
    <% if photo.originalPhotoLink %>
      &middot; <a href="<%= photo.originalPhotoLink %>">Original</a>
    <% end %>
  </p>
</div>
